#Shark attacks

IMPORTING THE LIBRARIES AND THE DATA INTO A PANDAS DATAFRAME

In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
from collections import Counter


#load the data into a pandas DataFrame
df= pd.read_excel("GSAF5.xls")

2. CLEANING THE DATA

2.1 IDENTIFYING THE DATA

In [18]:
pd.options.display.max_columns = None  
df.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Fatal Y/N,Time,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,20th January,2026.0,Unprovoked,Australia,NSW,Point Plomber North of Port Macquarie,Surfing,Paul Zvirdinas,M,39,Minor cuts and abrasions,N,0830hrs,Bull shark,Bob Myatt GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,19th January,2026.0,Unprovoked,Australia,NSW,Dee Why,Surfing,Unknown,M,11,None reported damage to board,N,1145hrs,Bull shark,Andy Currie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,19th January,2026.0,Unprovoked,Australia,NSW,North Steyne,Surfing,Andre de Ruyter,M,27,Serious Leg injuries,N,1820hrs,5m shark species not determined,9 News: Bob Myatt GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,18th January,2026.0,Unprovoked,Australia,NSW,Nielsen Park Vaucluse Sydney Harbour,Jumping off rocks,Nico Antic,M,12,Serious leg injuries,Y,1620hrs,Bull shark,Bob Myatt GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10th January,2026.0,Unprovoked,Australia,NSW,Avalon Beach,Surfing,Paul Stanton,M,?,Puncture mark to left thumb,N,0540hrs,Unknown,Bob Myatt GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#checking number of rows and columns in the dataset
df.shape

(7070, 23)

In [5]:
#checling the column names in the dataset
df.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal Y/N', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')

In [6]:
#viewing the data types of each column 

print("\nView datatypes:\n")
df.info()
df.dtypes

View datatypes:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7070 entries, 0 to 7069
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            7070 non-null   object
 1   Year            7068 non-null   float64
 2   Type            7052 non-null   object
 3   Country         7020 non-null   object
 4   State           6583 non-null   object
 5   Location        6503 non-null   object
 6   Activity        6485 non-null   object
 7   Name            6851 non-null   object
 8   Sex             6491 non-null   object
 9   Age             4075 non-null   object
 10  Injury          7035 non-null   object
 11  Fatal Y/N       6509 non-null   object
 12  Time            3543 non-null   object
 13  Species         3939 non-null   object
 14  Source          7050 non-null   object
 15  pdf             6799 non-null   object
 16  href formula    6794 non-null   object
 17  href            6796 non-null   object
 18  Case Number     6798 non-null   object
 19  Case Number.1   6797 non-null   object
 20  original order  6799 non-null   float64
 21  Unnamed: 21     1 non-null      object
 22  Unnamed: 22     2 non-null      object
dtypes: float64(2), object(21)
memory usage: 1.2+ MB

Date               object
Year              float64
Type               object
Country            object
State              object
Location           object
Activity           object
Name               object
Sex                object
Age                object
Injury             object
Fatal Y/N          object
Time               object
Species            object
Source             object
pdf                object
href formula       object
href               object
Case Number        object
Case Number.1      object
original order    float64
Unnamed: 21        object
Unnamed: 22        object
dtype: object

In [7]:
#get descriptive stats for numerical columns 
print("\nView descriptive statistics (numerical columns):\n")
df.describe().T

View descriptive statistics (numerical columns):

,count,mean,std,min,25%,50%,75%,max
Year,7068.0,1935.953311,270.740135,0.0,1948.0,1986.0,2010.0,2026.0
original order,6799.0,3401.152081,1963.076319,2.0,1701.5,3401.0,5100.5,6802.0

In [8]:
# count missing values in each column
print("\nCount missing values in each column:\n")
print(df.isnull().sum())

Count missing values in each column:

Date                 0
Year                 2
Type                18
Country             50
State              487
Location           567
Activity           585
Name               219
Sex                579
Age               2995
Injury              35
Fatal Y/N          561
Time              3527
Species           3131
Source              20
pdf                271
href formula       276
href               274
Case Number        272
Case Number.1      273
original order     271
Unnamed: 21       7069
Unnamed: 22       7068
dtype: int64

In [9]:
# amount of unique values for each column
unique_counts = df.nunique()
print("\nNumber of unique values for each column:")
print(unique_counts)

Number of unique values for each column:
Date              6110
Year               261
Type                13
Country            251
State              944
Location          4616
Activity          1610
Name              5789
Sex                 10
Age                251
Injury            4183
Fatal Y/N           12
Time               473
Species           1737
Source            5401
pdf               6789
href formula      6784
href              6776
Case Number       6777
Case Number.1     6775
original order    6797
Unnamed: 21          1
Unnamed: 22          2
dtype: int64

In [10]:
#code for counting NaN values in each column
df.isna().sum()

Date                 0
Year                 2
Type                18
Country             50
State              487
Location           567
Activity           585
Name               219
Sex                579
Age               2995
Injury              35
Fatal Y/N          561
Time              3527
Species           3131
Source              20
pdf                271
href formula       276
href               274
Case Number        272
Case Number.1      273
original order     271
Unnamed: 21       7069
Unnamed: 22       7068
dtype: int64

In [19]:
#code for counting unique values in the "Activity" column and then printing the top 5 most common activities
activities_count = df["Activity"].value_counts()
top_five_sports = {activity: count for activity, count in activities_count.nlargest(5).items()}
print(f"The top 5 activities are: \n{activities_count}")

The top 5 activities are:
Activity
Surfing                                          1146
Swimming                                         1011
Fishing                                           494
Spearfishing                                      391
Wading                                            178
                                                 ...
Floating on a small orange raft                     1
Filming & feeding captive sharks                    1
Attempting to drive shark away from the beach       1
Spearfishing / scuba diving                         1
Wreck of  large double sailing canoe                1
Name: count, Length: 1610, dtype: int64

In [14]:
#too many unique values, so we need to clean and standardize the data
df["Activity"].unique()

array(['Surfing', 'Jumping off rocks', 'Snorkeling', ...,
       'Crew swimming alongside their anchored ship',
       '4 men were bathing', 'Wreck of  large double sailing canoe'],
      shape=(1611,), dtype=object)

In [15]:
#code for counting unique values in the "Injury" column and then printing the top 5 most common injuries
injury_count = df["Injury"].value_counts()
top_five_inuries = {injury: count for injury, count in injury_count.nlargest(5).items()}
print(f"The top 5 injuries are: \n{injury_count}")

The top 5 injuries are:
Injury
FATAL                                                                   863
Foot bitten                                                             100
Survived                                                                 97
No injury                                                                85
Leg bitten                                                               81
                                                                       ...
Right wrist  & left arm lacerated                                         1
Puncture wounds on shin                                                   1
Left hand, foot severed &  left calf & arm bitten                         1
Single puncture wound on the foot                                         1
FATAL. "Shark bit him in half, carrying away the lower extremities"       1
Name: count, Length: 4183, dtype: int64

In [16]:
#code for counting unique values in the "Type" column
type_count = df["Type"].value_counts()
type_count

Type
Unprovoked             5221
Provoked                642
Invalid                 552
Watercraft              355
Sea Disaster            242
Questionable             26
Boat                      7
 Provoked                 2
unprovoked                1
?                         1
Unconfirmed               1
Unverified                1
Under investigation       1
Name: count, dtype: int64

In [20]:
#code for counting unique values in the sex column
sex_count = df["Sex"].value_counts()
sex_count

Sex
M        5670
F         808
M           4
F           2
N           2
 M          1
m           1
lli         1
M x 2       1
.           1
Name: count, dtype: int64

DATA CLEANING & STANDARDADIZATION

In [21]:
# remove multiple columns:
df = df.drop(['Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1','original order', 'Unnamed: 21', 'Unnamed: 22','Fatal Y/N', 'Time'], axis=1)
df.head(3)

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Species
0,20th January,2026.0,Unprovoked,Australia,NSW,Point Plomber North of Port Macquarie,Surfing,Paul Zvirdinas,M,39,Minor cuts and abrasions,Bull shark
1,19th January,2026.0,Unprovoked,Australia,NSW,Dee Why,Surfing,Unknown,M,11,None reported damage to board,Bull shark
2,19th January,2026.0,Unprovoked,Australia,NSW,North Steyne,Surfing,Andre de Ruyter,M,27,Serious Leg injuries,5m shark species not determined

In [22]:
#drop rows with missing values in the "Activity" column and then count the number of missing values in each column again to confirm that the rows have been removed
df.dropna(subset=['Activity'], inplace= True)
df.isna().sum()

Date           0
Year           2
Type          14
Country       43
State        403
Location     475
Activity       0
Name         157
Sex          425
Age         2572
Injury        19
Species     2788
dtype: int64

In [23]:
#clean and standardize the data by converting all text to lowercase, removing leading and trailing whitespace, and replacing spaces with underscores in the column names
df.rename(columns= lambda x: x.lower().strip().replace(" ", "_").replace (":"," ").replace("." , " "), inplace=True)
df.rename(columns={"type": "attack_type"}, inplace=True)
df.head()

,date,year,attack_type,country,state,location,activity,name,sex,age,injury,species
0,20th January,2026.0,Unprovoked,Australia,NSW,Point Plomber North of Port Macquarie,Surfing,Paul Zvirdinas,M,39,Minor cuts and abrasions,Bull shark
1,19th January,2026.0,Unprovoked,Australia,NSW,Dee Why,Surfing,Unknown,M,11,None reported damage to board,Bull shark
2,19th January,2026.0,Unprovoked,Australia,NSW,North Steyne,Surfing,Andre de Ruyter,M,27,Serious Leg injuries,5m shark species not determined
3,18th January,2026.0,Unprovoked,Australia,NSW,Nielsen Park Vaucluse Sydney Harbour,Jumping off rocks,Nico Antic,M,12,Serious leg injuries,Bull shark
4,10th January,2026.0,Unprovoked,Australia,NSW,Avalon Beach,Surfing,Paul Stanton,M,?,Puncture mark to left thumb,Unknown

YEAR FILTERING

In [24]:
#clean and standardize the data in the "year" column to only include years from 2000 to 2026 and convert the data type from float to integer, while also handling any missing values by filling them with 0 before converting to integer

df2 = df[(df ['year'] >= 2000) & (df['year'] < 2027)].copy()
df2["year"] = df2["year"].fillna(0).astype(int)
df2.head()

,date,year,attack_type,country,state,location,activity,name,sex,age,injury,species
0,20th January,2026,Unprovoked,Australia,NSW,Point Plomber North of Port Macquarie,Surfing,Paul Zvirdinas,M,39,Minor cuts and abrasions,Bull shark
1,19th January,2026,Unprovoked,Australia,NSW,Dee Why,Surfing,Unknown,M,11,None reported damage to board,Bull shark
2,19th January,2026,Unprovoked,Australia,NSW,North Steyne,Surfing,Andre de Ruyter,M,27,Serious Leg injuries,5m shark species not determined
3,18th January,2026,Unprovoked,Australia,NSW,Nielsen Park Vaucluse Sydney Harbour,Jumping off rocks,Nico Antic,M,12,Serious leg injuries,Bull shark
4,10th January,2026,Unprovoked,Australia,NSW,Avalon Beach,Surfing,Paul Stanton,M,?,Puncture mark to left thumb,Unknown

SEX (Missing - what will we do with the unknown values?)

In [25]:
#clean and standardize the data in the "sex" column by removing leading and trailing whitespace, converting all text to lowercase, and replacing any non-standard values with "unknown"
print(df2['sex'].unique())
df2['sex'] = df2['sex'].str.strip()

sex_mapping = {
    "N": np.nan,
    "lli": np.nan,
    ".": np.nan,
    "M x 2": "M",
    "m": "M",
    "f": "F"
}
df2['sex'] = df2['sex'].replace(sex_mapping)
df2['sex']= df2['sex'].fillna('unknown')
print(df2['sex'].unique())

['M' 'F' 'F ' 'M ' nan 'm' 'lli']
['M' 'F' 'unknown']

ATTACK_TYPE

In [26]:
#clean and standardize the data in the "type" column by removing leading and trailing whitespace, converting all text to lowercase, and replacing any non-standard values with "unknown"
df["attack_type"].unique()
print(df['attack_type'].unique())
df['attack_type'] = df['attack_type'].str.strip()
type_mapping = {
    "Unprovoked": "Unprovoked",
    "Provoked": "Provoked",
    "Boating": np.nan,
    "Invalid": np.nan,
    "Sea Disaster": "Unprovoked",
    "?":  np.nan,
    "Boat": np.nan,
    "Invalid ": np.nan,
    "Questionable": np.nan,
    "Unconfirmed": np.nan,
    "Unverified": np.nan,
    "Under investigation": np.nan,
    "Watercraft": np.nan,
    "unprovoked": "Unprovoked",
    "Invalid Incident": np.nan,
    "Invalid ": np.nan
}
df['attack_type'] = df['attack_type'].replace(type_mapping)
df['attack_type']= df['attack_type'].fillna('Unknown')
print(df['attack_type'].unique())

['Unprovoked' 'Provoked' 'Questionable' 'unprovoked' ' Provoked'
 'Watercraft' 'Sea Disaster' '?' nan 'Unconfirmed' 'Unverified' 'Invalid'
 'Under investigation' 'Boat']
['Unprovoked' 'Provoked' 'Unknown']

ACTIVITY

In [28]:
df2["activity"].unique()

array(['Surfing', 'Jumping off rocks', 'Snorkeling', 'Scuba Diving',
       'SCUBA Diving', 'Swimming', 'Freeing trapped shark',
       'Foil Boarding', 'Fishing', 'Swimming with sharks',
       'Fishing/swimming', 'Diving-Tagging sharks', 'Spearfishing',
       'Wading', 'Kayaking ', 'Surfing (Hydrofoiling)', 'Diving',
       'Paddling', 'Rescuing female companion ', 'snorkeling',
       'Undisclosed', 'Kayaking', 'Fishing was pulled of boat by shark',
       'Bathing', 'Disappeared whilst diving remains found in shark',
       'Diving for shellfish', 'Swimming - jumped off yacht',
       'Swimming - Diving ', 'Diving into Water',
       'Playing football in the water',
       'Unconfirmed Possibly swimming near the boat harbour',
       'Swimming ocean training ', 'Military ocean training',
       'snorkelling', 'Freediving',
       'Jumpinf from dock to boat acidentally fell into water at marina',
       'Free diving', 'Paddle boarding', 'Scuba diving',
       'On a round-the-world expedition', 'Kayak fishing',
       'Towing a dead whale out to sea', 'Boogie boarding', 'Sitting',
       'Watching the sardine run', 'Standing', 'Filming', 'Kite surfing',
       'Jumped overboard', 'Shark Feeding', 'Diving for crayfish',
       'Windsurfing', 'Kite-Surfing', 'Surf-sking',
       'Diving with  surface-supplied air', 'Spearishing',
       'Snorkeling at Shark Feeding site', 'Diving/Shark Feeding',
       'Surf skiing ', 'Shipwreck', 'Swimming  or Snorkeling',
       'Paddleboarding', 'Lobstering', 'Lifeguard Training Exercise',
       'Lifeguard Exercises', 'Scalloping', 'Jumped into water',
       'Playing in the water', 'Feeding sharks & stingrays', 'Fihing',
       'Surface Supplied  Diving', 'Floating in inflatable pool ring',
       'Fishing for sharks', 'Wing Foil Surfing', 'Boogie Boarding',
       'Swimmingq', 'Playing', 'Fishing, fell in water',
       'Harassing sharks', 'Squatting in the water',
       'Moving captive shark',
       "Jackass Team's publicity stunt for Discovery Channel's Shark Week 2021",
       'Canoeing', 'Parasailing', 'Kite Foiling', 'Baiting sharks',
       'Boggie boarding', 'Stand Up Paddleboarding', 'Tagging sharks',
       'Body boarding', 'Body surfing', 'Swimming / Kayaking',
       'Fell off fishing boat', 'Body Surfing', 'Foil-boarding',
       'Surf fishing',
       'Fishing / Filming sharks feeding on whale carcass', 'Sightseeing',
       'Treading water', 'Skimboarding', 'Body Boarding',
       'Stand-Up Paddleboarding', 'Stand-Up Paddle boarding', 'Floating ',
       'Swimming after being swept off rocks', 'Feeding sharks',
       'Kayaking fishing', 'Swimming/ Treading water',
       'Spearfishing / Diving', 'Fishing ', 'Body-surfing',
       'Abalone diving', 'Picking opihi', 'Diving in shark tank',
       'Paddling an outrigger canoe', 'Diving / Filming',
       'Swimming/Standing', 'Putting hand in shark tank', 'Floating',
       'Walking', 'Surf-skiing', 'Foilboarding', 'Cleaning fish',
       'Fishing / Wading', '2 boats capsized', 'Night bathing',
       'Surfing ', 'Kayaking / Fishing', 'Swimming, poaching abalone',
       'SUP', 'Touching a shark', 'Attempting to lasso a shark',
       'Photo shoot', 'Kakaying', 'Washing hands',
       'Grabbing shark for a selfie', 'Not stated', 'Body Recovery',
       'Cage Diving', 'Surfng', 'SUP Foil boarding', 'Floating in tube',
       'Teasing a shark', 'Diving for beche-de-mer', 'Feeding stingrays?',
       'Sea disaster', 'Lobster fishing', 'Swimming / Wading',
       'Fishing for shrimp', 'Photographing fish', 'Kayak Fishing',
       'Scallop diving on hookah', 'Body boarding ', 'Body surfing?',
       'Attempting to rescue a shark', 'Photographing the shark',
       'Standing / Snorkeling', 'Hand feeding sharks',
       'Sitting in the water', 'Transatlantic Rowing', 'Bodysurfing',
       'Rowing', 'Shark fishing', 'Surfing & filming dolphins',
       'Swimming after falling overboard', 'Fishing for blue sharks',
       'Standing in inner tube', 'Body surfing or Boogie boarding',
       'Feeding fish', 'Playing with an air mattress', 'Kite boarding',
       'Shark diving', 'Petting a shark', 'Kneeling in the water',
       'Fell into the water', 'Shark watching', 'Diving for lobsters',
       'Kite Surfing', 'Scuba diving / culling lionfish', 'Kitesurfing',
       'Sailing', 'Spearfishing / Free diving',
       'Free diving / Photographing pilot whales',
       'Filming a documentary',
       'Attempting to remove fishing net from submerged object',
       'Kiteboarding', 'Diving ', 'Swimming / snorkeling',
       'Diving for Abalone', 'Casting a net', 'Marathon swimming',
       'Longline fishing for sharks', 'Wrangling a shark',
       'Attempting to free the shark', 'Walking in surf', 'Swimming ',
       'Swimming & snorkeling', 'Playing in the surf', 'Fly fishing',
       "Fishing - 'tag & release'",
       'Swimming to shore with floatioon devices after boat engine conked out',
       'Dragging stranded shark into deeper water', 'Bodyboarding',
       'Swimming or boogie boarding', 'Wading or swimming',
       'Free diving ', 'Attempting to rescue an injured & beached shark',
       'Free diving / spearfishing', 'Crayfishing',
       'Diving, feeding sharks',
       'Attempting to Kite surf from Egypt to Saudi Arabia',
       'Fishing (illegally)', 'Diving, photographing sharks',
       'Wade fishing', 'Jumping in the waves', 'Wade Fishing',
       'Standing, collecting sea stars', 'Swimming or Snorkeling',
       'Kayaking or Wave skiing', 'Jet skiing',
       'Standing or boogie boardin', 'Kite Boarding',
       'Washing sand off a speared fish', 'Standing, holding shark pup',
       'Diving / fishing', 'Wakeboarding', 'Diving for abalone',
       'Shark fishing on the Ricardo Astorga',
       'Shark fishing on the Don Agustn-VI. ', 'Attempting to fix motor',
       'Swimming /  Whale Watching',
       'Swimming after boat became disabled', 'Rescuing',
       'Measuring sharks', 'Swimming / treading water',
       'Surf fishing / wading', 'Spearfishing (free diving)',
       'Paddling on kneeboard', 'Swimming to shore from capsized kayak',
       'Paddle-boarding',
       'Swimming, attempting to rescue a girl  believed to be drowning',
       'Washing his feet', 'Paddle-surfing', 'Crawling',
       'Diving, but on the surface when bitten by the shark',
       'Air Disaster', 'Crabbing', 'Yacht race',
       'Sinking of the cargo ship Mark Jason',
       'Fishing boat swamped in storm', 'Swimming, towing surfboard',
       'Swimming or surfing', 'Rowing an inflatable dinghy',
       'Sea Disaster', 'Night diving', 'Free-diving',
       'Walking out of the water after surfing', 'Fishing from surfski',
       "Accidentally stood on hooked shark's tail before attempting to gut it ",
       'Attempting to chase shark out to sea', 'Fishing for snapper',
       'Removing fish from a trap',
       'The 426-ton cargo ship Mia, laden with cement, capsized in heavy seas ',
       'Wading?', 'Jumping',
       'Floating near boat & observing bioluminesce',
       'Jumped into the water', 'Surf paddling', 'Murder',
       'Removing hook from shark', 'Reviving a sedated shark',
       'Shark tagging', 'Swimming / jumping off a jetty',
       'Playing on a sandbar', 'Shrimping', 'Swimming / Body Surfing',
       'Playing soccer in the water', 'Free diving / modeling',
       'Diving / Kissing the shark', 'Lifesaving drill',
       'Touching sharks',
       'Competing in the Woodvale Atlantic Rowing Race', 'Night Surfing',
       'Standing / Surfing', 'Treading water/ Surfing',
       'Removing shark from net',
       'Boogie boarding, kicked at object in the water',
       'Scuba diving in aquarium tank', 'Holding onto an inflatable boat',
       'Swimming with boogie board', 'Spearfishing (Free diving)',
       "Crouching in 2' of water", 'Diving in aquarium display tank',
       'Attempting to drive shark away from sailing regatta',
       'Fishing from a kayak',
       'Swept out to sea by the tsunami, she clung  to a log for 24 hours',
       'Scurfing (surfboard being  towed behind a boat)',
       'Chumming for white sharks', 'Spearfishing/ filming',
       'Diving & fishing with net',
       'Wading / fishing & carrying a bag of fish',
       'Fishing for squid aboard the trawler Shikishima-Maru when the shark leapt into the boat',
       'In water with diving seabirds', 'Swimming, poaching perlemoen',
       'Boogie-boarding / swimming', 'Free diving & spearfishing',
       'Tandem surfing',
       'Five men on makeshift raft after their 10 m fishing boat  capsized and sank in rough seas. Survivors rescued after  7.5 hours in the water',
       'Surf skiing', 'Kayaking (returning from spearfishing)',
       'Air disaster. Flash Airlines Boeing 737 crashed into the Red Sea',
       'Swimming / shipwreck', 'Surfing amid a shoal of sharks',
       'Swimming to shore from boat or kayak', 'Sitting on surfboard',
       'Wading near a fishing net', 'Wading to shore from his boat',
       'Standing, stepped on shark', 'Wade-fishing',
       'Swimming, wearing black wetsuit & swim fins',
       'Walking, carrying surfboard & stepped on shark',
       'Swimming with pod of dolphins', 'Killing  sharks',
       'Swimming (using a float)', 'Petting captive sharks', 'Unknown',
       "Fishing, standing in 2' of water", 'Fishing from Surfboard',
       'Boogie boarding or Surfing',
       'Wading, when he stepped on the shark', 'Shark Fishing',
       'Attempting to retreive a dinghy',
       'Snorkeling (filming the sardine run)', 'Floating on a raft',
       'Fishing, removing the shark from his line',
       'Playing in the surf with his 2 dogs', 'Collecting beche-de-mer',
       'Fishing from prawn trawler',
       'Scallop diving (using surface-supplied air & a POD) ',
       'Fishing (Drowned 2-Apr-2002)',
       'Surfing, but standing in water alongside board', 'Body-boarding',
       'Swimming /  boogie boarding', 'Capsized fishing boat',
       'Kite-Boarding',
       'Surfing, fell off surfboard & stepped on the shark.',
       'Wreck / Technical diving', 'Walking in shallows',
       'Fell off banana boat', 'Floating face-down in knee-deep water',
       'Hiking on the beach', 'Spearfishing, carrying his catch',
       'Standing alongside surfboard', 'Batin',
       'Attempting to catch a crocodile',
       "Sinking of the 40' Esperanza off St. Maartin with 36 refugees on board",
       'Fishing for whiting', 'Swimming back from anchored sailboat',
       'Diving for sea urchins', 'Diving (shell maintenance)',
       'Shipwrecked', 'Fell onto dead shark', 'Standing / surfing',
       'Swimming / Body surfing', 'Conducting research',
       'Swimming out to porpoises ',
       'Windsurfing, but sitting on his board', 'Surfing / Wading',
       'Attempting to illegally enter the USA',
       'Spearfishing, holding mesh bag with speared fish',
       'Air Disaster - Piper aircraft crashed into the sea, killing all on board',
       'Boogie boarding / wading', 'Feeding prawns to captive sharks',
       'Canoe with 3 men onboard sank', 'Fishing for tarpon'],
      dtype=object)

In [31]:
#1 Standardize text and remove special characters from the "activity" column by converting all text to lowercase, removing leading and trailing whitespace, and replacing any non-alphanumeric characters with an empty string using regular expressions
df2["activity"] = df2["activity"].str.lower().str.strip().str.replace(r"[\"']", '', regex=True)
#2 Extract the most common words from the "activity" column and create a new column called "activity_category" that categorizes each activity based on the presence of these common words (possible mistake: this approach may oversimplify the categorization and may not capture the full context of the activities, leading to potential misclassification.)
all_words= re.findall(r'\w{5,}',' '.join(df2["activity"]))
most_common_words = [word for word, count in Counter(all_words).most_common(20)]
most_common_words

['surfing',
 'swimming',
 'fishing',
 'spearfishing',
 'diving',
 'boarding',
 'snorkeling',
 'wading',
 'standing',
 'scuba',
 'boogie',
 'shark',
 'kayaking',
 'sharks',
 'water',
 'skiing',
 'playing',
 'kayak',
 'walking',
 'feeding']

In [38]:
#standardize activities
selected_values_to_replace = ["spearfishing", "fishing", "kayaking", "wading", "surfing", "swimming", "diving", "skiing"]

for val in selected_values_to_replace: 
    df2.loc[df2["activity"].str.contains(val, na=False),"activity"] = val

df2 = df2[df2['activity'] != '']
top_10_index = df2['activity'].value_counts().nlargest(10).index
df2 = df2[df2['activity'].isin(top_10_index)]
df2["activity"].unique()

array(['surfing', 'snorkeling', 'diving', 'swimming', 'fishing', 'wading',
       'kayaking', 'boogie boarding', 'standing', 'body boarding'],
      dtype=object)

In [48]:
df2["activity"].nunique()

10

In [39]:
selected_values_to_replace = ['spearfishing', 'paddleboarding', 'snorkeling','kayaking', 'skiing', 'rowing', 'boarding','swimming', 'fishing', 'diving', 'wading']

In [ ]:
#Option of creating a new column with categorized values

def clean_activity_fixed(text):
    text = str(text).lower()
    # Check for the most specific terms first
    if 'spearfishing' in text: return 'spearfishing'
    if 'paddleboarding' in text: return 'paddleboarding'
    if 'fishing' in text: return 'fishing'
    if 'surfing' in text: return 'surfing'
    # ... add the rest of your list here
    return text # if no match, keep the original (or return 'other')

df2['activity'] = df2['activity'].apply(clean_activity_fixed)

INJURY  *check code to ensure python reads both bodyparts

In [84]:
df2["injury"].value_counts()

injury
FATAL                                                                       178
Foot bitten                                                                  51
Left foot bitten                                                             34
No injury                                                                    27
Leg bitten                                                                   24
                                                                           ...
Torso nipped                                                                  1
Left arm and leg injured                                                      1
Injuries to right calf and thigh                                              1
Body washed up on beach with signs of shark attack bites and leg missing      1
No injury to occupant; shark bit propeller                                    1
Name: count, Length: 1760, dtype: int64

In [98]:
df2['injury'] = df2['injury'].fillna('').str.strip().str.lower().str.replace(r"[\"']", '', regex=True)

In [ ]:
# Define a function to extract body part from the injury description (possible mistake: python will only return the first match it finds, so if there are multiple body parts mentioned, it will only categorize based on the first one. This could lead to misclassification if the most relevant body part is not mentioned first in the injury description.)
def extract_body_part(text):
    text = str(text).lower()
    
    # Define body part categories and their related keywords
    if any(word in text for word in ['leg', 'thigh', 'calf', 'knee', 'foot', 'feet', 'ankle', 'toe']):
        return 'Lower Extremity'
    
    elif any(word in text for word in ['arm', 'hand', 'finger', 'wrist', 'elbow', 'shoulder', 'forearm']):
        return 'Upper Extremity'
    
    elif any(word in text for word in ['torso', 'chest', 'back', 'abdomen', 'trunk']):
        return 'Torso'
    
    elif any(word in text for word in ['head', 'face', 'neck', 'scalp']):
        return 'Head/Neck'
    
    elif any(word in text for word in ['no injury', 'board', 'kayak', 'boat', 'propeller']):
        return 'No Body Part (Equipment/None)'
        
    else:
        return 'Multiple/Unspecified'

# Apply to your DataFrame
df2['body_part'] = df2['injury'].apply(extract_body_part)
df2.head(5)

,date,year,attack_type,country,state,location,activity,name,sex,age,injury,species,body_part
0,20th January,2026,Unprovoked,Australia,NSW,Point Plomber North of Port Macquarie,surfing,Paul Zvirdinas,M,39,Minor cuts and abrasions,Bull shark,Multiple/Unspecified
1,19th January,2026,Unprovoked,Australia,NSW,Dee Why,surfing,Unknown,M,11,None reported damage to board,Bull shark,No Body Part (Equipment/None)
2,19th January,2026,Unprovoked,Australia,NSW,North Steyne,surfing,Andre de Ruyter,M,27,Serious Leg injuries,5m shark species not determined,Lower Extremity
4,10th January,2026,Unprovoked,Australia,NSW,Avalon Beach,surfing,Paul Stanton,M,?,Puncture mark to left thumb,Unknown,Multiple/Unspecified
5,8th January,2026,Unprovoked,US Virgin Islands,Fredricksted Island St Croix,Dorsch Beach,snorkeling,Arlene Lillis,F,56,Left arm torn off in the attack below the elbow,Unknown,Upper Extremity

In [ ]:
SPECIES

In [ ]:
df2["species"].value_counts() #3 categories only, because rest of data to unconcrete?

species
White shark                                        93
Bull shark                                         51
Tiger shark                                        48
Shark involvement not confirmed                    46
4' shark                                           31
                                                   ..
Tiger shark, 3.5 m                                  1
3.5 to 4 m shark                                    1
2 m to  3 m shark                                   1
Bull shark, 1.3 m                                   1
Shortfin mako shark, 3 m to 3.4 m [10' to 11']      1
Name: count, Length: 805, dtype: int64

COUNTRIES

In [49]:
def country_formatting(df):
    def fix_name(x):
        # 1. Skip if it's not text (handles NaN/empty cells)
        if not isinstance(x, str):
            return x
        
        # 2. Clean whitespace and make lowercase for checking
        name = x.strip().lower()
        
        # 3. Handle specific abbreviations (Force Uppercase)
        abbreviations = ['usa', 'uk', 'uae']
        if name in abbreviations:
            return name.upper()
        
        # 4. Handle everything else (Capitalize Every Word)
        # .title() turns "south africa" into "South Africa"
        return name.title()

    df['country'] = df['country'].apply(fix_name)
    return df

# Apply the change
df2 = country_formatting(df2)

In [50]:
df2["country"].nunique()

95

In [ ]:
#Plan:
#categorize: activity 
#Filtrar datos?
#groupby
#we want to create gear for male/or fewmale depending on the activity perfomed, there are diferent product needs
# as a marketing campaign, we want to know, how many provoked incidents there are and if these are related with the activity types

#Bonus: 
#to which markets (countries) we can sell or products based on incident numbers